<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623953660471-596eu87l0mkk0cg5u2l8k08vidlck4kc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623953660471-596eu87l0mkk0cg5u2l8k08vidlck4kc</string>
	<key>API_KEY</key>
	<string>AIzaSyCrfksjYemojVUE4Qceucy1dlYJVLPiH3E</string>
	<key>GCM_SENDER_ID</key>
	<string>623953660471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aka.foresight</string>
	<key>PROJECT_ID</key>
	<string>foresight-68637</string>
	<key>STORAGE_BUCKET</key>
	<string>foresight-68637.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623953660471:ios:2370800511c7786bcc0db2</string>
</dict>
</plist>